<table class="table table-striped">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Prezzo</th>
            <th>ISBN</th>
            <th>Anno</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of elenco">
            <td>{{ l.tit }}</td>
            <td>{{ l.pre }}</td>
            <td>{{ l.isb }}</td>
            <td>{{ l.ann }}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="elimina(l.isb)">X</button>
            </td>
        </tr>
    </tbody>
</table>