<div class="form-group">
    <label for="input-titolo">titolo</label>
    <input [(ngModel)]="titolo" type="text" class="form-control" id="input-titolo">
</div>
<div class="form-group">
    <label for="input-prezzo">prezzo</label>
    <input [(ngModel)]="prezzo" type="number" class="form-control" id="input-prezzo">
</div>
<div class="form-group">
    <label for="input-isbn">isbn</label>
    <input [(ngModel)]="isbn" type="text" class="form-control" id="input-isbn">
</div>
<div class="form-group">
    <label for="input-anno">anno</label>
    <input [(ngModel)]="anno" type="number" class="form-control" id="input-anno">
</div>
<div class="form-group">
    <label for="input-autore">autore</label>
    <input [(ngModel)]="autore" type="text" class="form-control" id="input-autore">
</div>
<button class="btn btn-success" (click)="salva()">Salva</button>